<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Manual Zone Control</h1>
  </div>
</header>

<div>
  	<div class="col-md-4" style="text-align: center; padding: 50px 25px 50px 25px;" ng-repeat="zone in zones">
	  	<div style="margin: 0 auto;" ng-model="status"> <p><h2>Zone {{zone.number}}: {{zone.status}}</h2></p></div>
	  	<div class="checkbox" style="margin: 0 auto;">
	    	<input id="main" type="checkbox" style="margin: auto;" data-toggle="toggle" 
	      	data-width="200" data-height="100" 
	      	data-onstyle="success" data-offstyle="danger"
	      	data-on="Turn Sprinkler OFF" data-off="Turn Sprinkler ON" 
	      	main-toggle="{{zone}}">
	  	</div>
	</div>
</div>
