<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>My Sprinkler!</h1>
  </div>
</header>
<!--
<div>
  <div class="text-center">
    <h1>College Station</h1>
    <h4>Date and Time</h4>
  </div>
  <div class="col-md-offset-3 col-md-3">
    <img src="http://openweathermap.org/img/w/02d.png" class="img-rounded center-block img-responsive" alt="Responsive image">
  </div>
  <div class="pull-left col-md-3">
    <h1>98 &#8457;</h1>
  </div>
</div>
-->
<div style="text-align: center; padding: 25px 25px 25px 25px;">
  <div style="margin: 0 auto;" ng-model="status"> <p><h2>Current Status: {{status}}</h2></p></div>
  <div class="checkbox" style="margin: 0 auto;">
    <input id="main" type="checkbox" style="margin: auto;" data-toggle="toggle" 
      data-width="300" data-height="150" 
      data-onstyle="success" data-offstyle="danger"
      data-on="Turn Sprinkler OFF" data-off="Turn Sprinkler ON" 
      main-toggle>
  </div>
</div>

<div style="text-align: center;">
  <weather class="weatherFeed" style="margin: 0 auto; width: 50%;"></weather>
</div>
<!--
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

<div class="container col-md-4">
  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
-->

<!-- <script>  
  $("#main").bootstrapToggle();
</script>
-->
<img src="../assets/images/weather.png" class="img-rounded center-block img-responsive" alt="Responsive image">-->
