<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Schedules!</h1>
  </div>
</header>
<div class="col-md-12">
  <div ng-repeat="days in week" class="panel panel-default col-md-4">
    <table class="table table-striped table-responsive">
      <thead><p class="text-primary">Suggested Times: <span class="text-muted">{{days.start}} - {{days.end}}</span><br></p>
        <th>{{days.day}}</th>
      </thead>
      <tbody>
        <td><p class="text-success">Start Time</p>
        <select class="form-control">
          <option ng-repeat="time in times" value="{{days.start}}">{{time}}</option>
        </select>
        </td>
        <td><p class="text-danger">End Time</p>
        <select class="form-control">
          <option ng-repeat="time in times" value="{{days.end}}">{{time}}</option>
        </select>
        </td>
      </tbody>
    </table>
  </div>
</div>

<div ng-if="noPi" class="jumbotron">
  <h2>Enter you mySprinkler Serial Number</h2>
  <div class="col-sm-4">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="register(piId)" type="button">Register!</button>
      </span>
      <input type="text" class="form-control" ng-model="piId" placeholder="Search for...">
    </div>
  </div>
</div>