<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Schedules!</h1>
  </div>
</header>
<div class="col-md-12">
  <div ng-repeat="days in week" class="panel panel-default col-md-4">
    <table class="table table-striped table-responsive">
      <thead><h5 class="text-primary">Suggested Times: <span class="text-success">{{days.start}} - {{days.end}}</span><br></h5>
        <th>{{days.day}}</th>
        <div class="form-group">
          <input type="checkbox" ng-model="days.watertoday" checked="{{days.watertoday}}"> Water Today <br>
        </div> 
      </thead>
      <tbody>
        <td><p class="text-success">Start Time</p>
        <select class="form-control" ng-model="days.start" ng-if="days.watertoday">
          <option ng-repeat="time in times" value="{{time}}">{{time}}</option>
        </select>
        <select class="form-control" ng-model="days.start" ng-if="!days.watertoday" disabled>
          <option ng-repeat="time in times" value="{{time}}">{{time}}</option>
        </select>
        
        </td>
        <td><p class="text-danger">End Time</p>
        <select class="form-control" ng-model="days.end" ng-if="days.watertoday">
          <option ng-repeat="time in times" value="{{time}}">{{time}}</option>
        </select>
        <select class="form-control" ng-model="days.end" ng-if="!days.watertoday" disabled>
          <option ng-repeat="time in times" value="{{time}}">{{time}}</option>
        </select>
        </td>
      </tbody>
    </table>
  </div>

  <button class="btn btn-secondary" ng-click="defaults()" ng-hide="noPi">Revert to Defaults</button>
  <button class="btn btn-primary" type="submit" ng-click="submit()" ng-hide="noPi">Save changes</button>
</div>

<div ng-if="noPi" class="jumbotron">
  <h2>Enter you mySprinkler Serial Number</h2>
  <div class="col-sm-4">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="register(piId)" type="button">Register!</button>
      </span>
      <input type="text" class="form-control" ng-model="piId" placeholder="Search for...">
    </div>
  </div>
</div>